name: ci

on: 
  push:
  pull_request:
  schedule:
    # See https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#schedule
    # Run at 3:30 every 1st of the month
    - cron: "30 3 1 * *"

jobs:
  check-links:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      # link checker ignores json files
      - name: Extract links from codes.json
        run: |
          echo "{" >> codes.json
          grep homepage src/data/codes.json > codes.json
          # make json valid
          echo "\"dummy\": \"dummy\"}" >> codes.json

      - name: Link Checker
        id: lc
        uses: lycheeverse/lychee-action@v1.5.4
        with:
          # See cli args at https://github.com/lycheeverse/lychee#commandline-parameters
          # for excluded URLs, the checker seems to be stricter than Chrome
          args: >-
            --verbose --timeout 40 --insecure 
            --exclude "https://www.msg.chem.iastate.edu/"
            --exclude "http://openmopac.net/"
            -- codes.json
          fail: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install --include=dev
      - name: Run ESLint
        run: npx eslint 'src/**/*js'

  validate-codes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install -r .github/requirements.txt
      - name: Validate code metadata
        run: python .github/codes.py

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install and Build
        run: |
          npm install
          npm run build
